apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: {{ .Values.namespace.name }} 

  labels:
    app: mysql-container
spec:
  clusterIP: None
  ports:
  - protocol: TCP
    port: 3306
    targetPort: 3306
  
    name: mysql-port
  selector:
      app: mysql-container
  #type: ClusterIP
  #ports:
  #- protocol: TCP
   # port: 3306
    #targetPort: 3306
  type: LoadBalancer
  

# apiVersion: v1
# kind: Service
# metadata:
#   name: postgres-service
#   namespace: {{ .Values.namespace.name }} 
# spec:
#   selector:
#     app: postgres-container
#   ports:
#       port: 5432
#       targetPort: 5432
#   type: LoadBalancer



# apiVersion: v1
# kind: Service
# metadata:
#   name: postgres-service
#   labels:
#     app: postgres-container
# spec:
#   type: LoadBalancer
#   # Uncomment the below line to create a Headless Service
#   # clusterIP: None
#   selector:
#     app: postgres-container
#   ports:
#   - protocol: TCP
#     port: 5432
#     targetPort: 5432
